<section class="slice slice-lg sct-color-1">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">

                <div class="form-user style-1 rounded has-shadow-1">
                    <div class="form-header text-center">
                        <h2 class="form-header-title">ユーザー登録</h2>
                    </div>

                    <div class="form-body">

                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                      <%# 変数のresource は単数系。スペルミスも要注意 %>
                      <%# resourceは複数のモデルを参照にするためのdevise特有の抽象的な呼び方 %>
                      <%# as:オプションはルーティングに名前を指定できる　resource_nameをキーとしてモデルを特定 or モデルをresource_nameと呼ぶ（path指定のときのみたく） %>
                      <%# ？？as:オプションを使う時の命名規則はある？もしかして作成した 「t.string :name」に従うひつようあり？ %>
                      <%# url:オプションは'submit'実行時のアクション先を指定している。今回の場合だと’POST’メソッドによるルーティングでregistration_pathを通るため、createアクションが実行される %>
                      
                          <%= devise_error_messages! %>
                        <div class="form-group has-icon">
                          <label class="control-label sr-only" for="inputName">Name</label>
                          <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputName", placeholder:"名前" %>
                          <%#　フィールド名とカラム名の間には","は要らない %>
                          <%# ルビーコードをviewに出力するときは=を":"に変えること %>
                          <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
                        </div>
                        <div class="form-group has-icon">
                          <label class="control-label sr-only" for="inputEmail">Email</label>
                          <%# labelタグ内のfor属性では,label設定したIDに対して表示できる %>
                          <%= f.email_field :email, class:"form-control", id:"inputEmail", placeholder:"メールアドレス" %>
                          <%# id属性はクラス属性の唯一無二版。一つしか設定できない %>
                          <%# placeholder属性は入力前に空欄に表示されている”入力例”のようなもの%>
                          <span class="fa fa-envelope form-control-icon" aria-hidden="true"></span>
                          <%# aria_hiddenは恐らくhidden属性だけど、効果はいまいち不明。明日確認する %>
                        </div>
                        <div class="form-group has-icon">
                          <label class="control-label sr-only" for="inputPassword">Password</label>
                          <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"パスワード" %>
                          <%# 閉じる時の”％”も忘れずに。 %>
                          <span class="fa fa-lock form-control-icon" aria-hidden="true"></span>
                        </div>
                        <div class="form-group has-icon">
                          <label class="control-label sr-only" for="inputConfirmPassword">Password</label>
                          <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", id:"inputConfirmPassword", placeholder:"パスワード確認" %>
                          <span class="fa fa-check-circle-o form-control-icon" aria-hidden="true"></span>
                        </div>
                        <%= f.submit "サインアップ", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
                        <%# サインアップにはボタンが設定されているので、文字とボタン作成の記述を削除する %>
                      <% end %>
                      
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
