<div class="body-wrap">
  <div id="st-container" class="st-container">
    <div class="st-pusher">
      <div class="st-content">
        <div class="st-content-inner">
          <section class="slice slice-lg sct-color-1">
              <div class="container">
                  <div class="row">
                      <div class="col-md-4 col-md-offset-4">
                          <div class="form-user style-1 rounded has-shadow-1">
                                <div class="form-header text-center">
                                    <h2 class="form-header-title">プロフィール編集</h2>
                                </div>

                                <div class="form-body">
                                    <!-- ここにform_forを追加します -->
                                    <%# <%= form_for(@user) url: user_path do |f| %>
                                    <%# なぜ上だとだめなのか＝＞　form_forは単数形のパスなら自動で指定できるが、複数形のパスは自動で指定できないため、今回の単数形のパスに対しては必要ない %>
                                    <%= form_for(@user) do |f| %>
                                    <%# url:はurlで指定する、コントローラ名とアクション名で指定する、複数形のパスで指定する、HTTPメソッドを変更するなどのときに用いる
                                     %>
                                    <div class="form-group has-icon">
                                        <label class="control-label sr-only" for="inputEmail">Name</label>
                                        <%= f.text_field :name, autofocus: true, class: "form-control", id: "inputEmail", placeholder: "名前" %>
                                        <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
                                    </div>

                                    <div class="form-group has-icon">
                                        <div class="user-edit-image">
                                            <%= attachment_image_tag @user, :profile_image, :fill, 60,60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg" %>
                                        </div>
                                        <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
                                        <%# 元々form_forの入力箇所はlabelで囲むというルールが昔あった %>
                                        <%# labelで指定したidの部分はlabel classを変更するだけで簡単にチェックボックスや,ラジオボタンを実装できるというメリットが有る %>
                                        <%# 今回のattachment_fieldはidも指定されていないので、divでも問題はないが、明示的にlabelが使用されていると思われる。 %>

                                        <%# labelタグのforオプションは指定したid:と紐付いて、autofocusやplaceholderオプションを有効に機能させる役割を持つ %>
                                        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
                                        <%# ？？autofocusする場所がない、placeholderを記述する箇所もない、それでは何故labelオプションでforが指定されているの？ %>
                                    </div>
                                        <%= f.submit "変更を保存", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
                                        <%# ？？なぜURL指定しないのか。submitを押した時点でupdateアクションが呼び出される？ %>
                                        <%# ArgumentError in Users#edit %>
                                        <%# <%= f.submit "変更を保存", user_path(@user.id), class:"btn btn-lg btn-block btn-base-1 mt-20" %>
                                        <%# なぜユーザパスを設定したらエラーが出たの？ %>
                                        <%# パスを指定しなくてもform_forの文ですでにパスの指定が行われているため...できない時はurl:で指定してcreateアクションなりupdateアクションなりを呼び出す %>
                                    <% end %>
                                </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>